<!doctype html>
<meta charset="utf-8">
<title>{{ lang.title }} {{ year }}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<body>
    <h1>{{ lang.title }} {{ year }}</h1>
    <p>{{ lang.description }}</p>
    <p><b>{{ lang.stages[stage].title }}:</b> {{ lang.stages[stage].description }}</p>
    <div class="nominations">
    {% for nom in nominations %}
    <div class="nomination">
    {% if nom != nomination %}
        <div class="ntitle"><a href="{{ url_for('edit_nominees', n=nom) }}">{{ lang.nominations[nom].title }}</a></div>
    {% else %}
        <div class="ntitle current">{{ lang.nominations[nom].title }}</div>
    {% endif %}
    </div>
    {% endfor %}
    </div>

    <div class="current-nom">
        <h2>{{ lang.nominations[nomination].title }}</h2>
        <p>{{ lang.nominations[nomination].description }}</p>
    </div>
    {% if canadd or isadmin %}
    <form action="{{ url_for('add_nominee') }}" method="post" class="addform">
        {{ form.csrf_token }}
        {{ form.nomid }}
        {{ lang.who }} {{ form.who(size=60) }}<br>
        {{ lang.forwhat }} {{ form.project(size=60) }}<br>
        {{ lang.url }} {{ form.url(size=60) }}<br>
        <input type="submit" value="{{ lang.addnominee }}">
    </form>
    {% endif %}
    <ul class="nominees">
        {% for n in nominees %}
        <li>{% if n.chosen %}* {% endif %}{{ n.who }}
        {%- if n.project %},
        {% if n.url %}
        <a href="{{ n.url }}">{{ n.project }}</a>
        {% else %}
        {{ n.project }}
        {% endif %}
        {% endif %}
        <span class="vote">
        {% if votes %}
        [{{ votes[n.id] }}{% if teamvotes[n.id] %}/<span class="teamvote">{{ teamvotes[n.id] }}</span>{% endif %}]
        {% endif %}
        {% if n.voteuser and canunvote %}
        <a href="{{ url_for('prevote', nid=n.id) }}" class="minus">unvote</a>
        {% elif canvote %}
        {#<button onclick="javascript:location.href='{{ url_for('prevote', nid=n.id) }}'">+1</button>#}
        <a href="{{ url_for('prevote', nid=n.id) }}" class="plus">vote</a>
        {% endif %}
        </span>
        {% if (canunvote and n.proposedby == user) or isadmin %}
        <small>(<a href="{{ url_for('delete_nominee', nid=n.id) }}">{{ lang.delete }}</a>)</small>
        {% endif %}
        {% if isadmin %}
        <small>(<a href="{{ url_for('edit_nominee', nid=n.id) }}">edit</a>,
        <a href="{{ url_for('choose_nominee', nid=n.id) }}">choose</a>)</small>
        {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>
