<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ lang.title }} {{ year }}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<body>
    <h1>{{ lang.title }} {{ year }}</h1>
    <p>{{ lang.description }}</p>
    <p><b>{{ lang.stages[stage].title }}:</b> {{ lang.stages[stage].description }}</p>
    {% if canadd or isadmin %}
    <form action="{{ url_for('add_nominee') }}" method="post" class="addform">
        {{ form.csrf_token }}
        {{ form.nomid }}
        {{ lang.who }} {{ form.who(size=60) }}<br>
        {{ lang.url }} {{ form.url(size=60) }}<br>
        {{ lang.forwhat }}:<br>{{ form.project(size=60) }}<br>
        {{ lang.category }} {{ form.category }}<br>
        {% if form.nomid.data %}
        <input type="submit" name="submit" value="{{ lang.updatenominee }}">
        <input type="submit" name="submit" class="n_del" value="{{ lang.deletenominee }}">
        {% else %}
        <input type="submit" name="submit" value="{{ lang.addnominee }}">
        {% endif %}
    </form>
    {% endif %}
    {% if not user %}
    <form action="{{ url_for('login_to_osm') }}" method="get" class="addform login">
        <input type="submit" value="{{ lang.login }}">
    </form>
    {% endif %}
    <div class="nominations">
    {% for nom in nominations %}
    <div class="nomination">
    {% if nom != nomination %}
        <div class="ntitle"><a href="{{ url_for('edit_nominees', cat=nom) }}">{{ lang.nominations[nom].short }}</a></div>
    {% else %}
        <div class="ntitle current">{{ lang.nominations[nom].short }}</div>
    {% endif %}
    </div>
    {% endfor %}
    </div>

    <div class="current-nom">
        <h2>{{ lang.nominations[nomination].title }}</h2>
        <p>{{ lang.nominations[nomination].description }}</p>
    </div>
    <div class="nominees">
        {% for n in nominees %}
        <div class="nominee {% if n.status < 0 %}disabled{% endif %}">
            {% if n.status < 0 %}
            <div class="n_cat bad_cat">{{ lang.status[statuses[n.status]] }}</div>
            {% endif %}
            {% if n.proposedby == user %}
            <div class="n_cat">{{ lang.nominations['mine'].short }}</div>
            {% endif %}
            <div class="n_cat">{{ lang.nominations[n.category].short }}</div>

            <span class="n_who">{% if n.chosen %}* {% endif %}{{ n.who }}</span>

            {% if (canunvote and n.proposedby == user) or isadmin %}
            <small>(<a href="{{ url_for('edit_nominees', edit_id=n.id) }}">{{ lang.edit }}</a>)</small>
            {% endif %}
            {% if isadmin %}
            <small><a href="{{ url_for('choose_nominee', nid=n.id) }}">choose</a></small>
            {% endif %}

            <span class="vote">
            {% if votes %}
            [{{ votes[n.id] }}]
            {% endif %}
            {% if n.voteuser and canunvote %}
            <a href="{{ url_for('prevote', nid=n.id) }}" class="minus">unvote</a>
            {% elif canvote %}
            {#<button onclick="javascript:location.href='{{ url_for('prevote', nid=n.id) }}'">+1</button>#}
            <a href="{{ url_for('prevote', nid=n.id) }}" class="plus">vote</a>
            {% endif %}
            </span>

            <div class="n_desc">
                {% for line in n.project.splitlines() %}
                {{ line }}<br>
                {% endfor %}
                {% if n.url %}
                (<a href="{{ n.url }}">{{ lang.link }}</a>)
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</body>
