{% extends "layout.html" %}
{% block content %}
   {% if not user %}
    <form action="{{ url_for('login_to_osm') }}" method="get" class="addform login">
        <input type="submit" value="{{ lang.login }}">
    </form>
    {% else %}
    <div class="submitvote">
        <input type="submit" onclick="window.location = '{{ url_for('voting') }}'" value="{{ lang.savevotes }}">
    </div>
    {% endif %}
    {% for nom in nominations %}
    <h2>{{ lang.nominations[nom].title }}</h2>
    <p>{{ lang.nominations[nom].description }}</p>
    <ul>
        {% for n in nominees %}
        {% if n.category == nom %}
        <li>{{ n.who }}
        {%- if n.project %},
        {% if n.url %}
        <a href="{{ n.url }}">{{ n.project }}</a>
        {% else %}
        {{ n.project }}
        {% endif %}
        {% endif %}
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endfor %}
{% endblock %}
