<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ lang.title }} {{ year }}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<body>
    <h1>{{ lang.title }} {{ year }}</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="message">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <p>{{ lang.description }}</p>
    <p><b>{{ lang.stages[stage].title }}:</b> {{ lang.stages[stage].description }}</p>
    <p>{{ readmore | safe }}</p>
    <form action="{{ url_for('vote_all') }}" method="post">
    {% for nom in nominations %}
    <h2{% if voted_cats and nom not in voted_cats %} class="novote"{% endif %}>{{ lang.nominations[nom].title }}</h2>
    <div class="nominees-list">
        {% for n in nominees %}
        {% if n.category == nom %}
        <div class="nomination-who{% if n.voteuser %} voted{% endif %}">
            <input type="checkbox" id="r{{ n.id }}" name="vote_{{ n.category }}" value="{{ n.id }}" {% if n.voteuser %}checked{% endif %}>
            <label for="r{{ n.id }}">{{ n.who }}</label>
            {% if isadmin %}
            <small>[{{ votes[n.id] }}]</small>
            {% endif %}
        </div>
        <div class="nomination-why">
            {{ lang.desc[nom][n.id] or n.project }}
            {% if n.url %}
            (<a href="{{ n.url }}" target="_blank">{{ lang.link }}</a>)
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
    <div class="submitvote">
        <input type="submit" value="{{ lang.savevotes }}">
    </div>
    <div class="total">
        {{ lang.peoplevoted }}: {{ total }}.
    </div>
    </form>
<script type="text/javascript" src="{{ url_for('static', filename='voting.js') }}"></script>
</body>
