<!doctype html>
<meta charset="utf-8">
<title>{{ lang.title }} {{ year }}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<body>
    <h1>{{ lang.title }} {{ year }}</h1>
    <p>{{ lang.description_after }}</p>
    <p><b>{{ lang.stages[stage].title }}:</b> {{ description | safe }}</p>
    {% for nom in nominations %}
    <h2>{{ lang.nominations[nom].title }}</h2>
    <div class="nominees-list">
        {% for n in nominees %}
        {% if n.category == nom %}
        <div class="nomination-who{% if isresults and n.id == winners[nom][0] %} voted{% endif %}">
            {{ n.who }}
            {% if isadmin or isresults %}
            <small>[{{ votes[n.id] }}]</small>
            {% endif %}
            {% if n.voteuser %}*{% endif %}
        </div>
        <div class="nomination-why">
            {{ n.project }}
            {% if n.url %}
            (<a href="{{ n.url }}" target="_blank">{{ lang.link }}</a>)
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
    <div class="total">
        {{ lang.peoplevoted }}: {{ total }}.
    </div>
</body>
