body {
  font-family: sans-serif;
  font-size: 12pt;
  max-width: 700px;
  margin: 1em auto;
  padding: 0 1em;
}

.nominations {
  text-align: center;
}

.nomination {
  display: inline-block;
  background: #cdf;
  margin: 0.5em 1em;
  padding: 4px 8px;
}

.nomination .current {
  color: gray;
}

.nomination a {
  color: black;
}

.addform {
  background: #eee;
  padding: 4px;
}

.addform input[type=submit] {
  margin-top: 4px;
  font-size: 14pt;
}

.vote {
  font-size: small;
  font-style: italic;
}

.teamvote {
  color: red;
}

.vote a.minus {
  color: white;
  background: green;
  text-decoration: none;
}

.vote a.plus {
  color: green;
}

/* Voting */

h2 {
  text-align: left;
}

.nominees-list {
}

.nomination-who {
  margin-top: 0.8em;
  padding: 0.2em 0;
  font-size: 14pt;
}

.nomination-who.voted {
  background-color: #efe;
}

.nomination-who.voted.novote {
  background-color: #fee;
}

.novote {
  color: #444;
}

.nomination-why {
  padding-left: 2em;
}

.submitvote {
  margin: 2em 0;
}

.submitvote input {
  font-size: 20pt;
}
